<div class="dashboard-layout">
  <!-- SIDEBAR -->
  <div class="sidebar">
    <h1 class="ims">IMS</h1>
    <ul class="nav-links">
      <li *ngIf="isAuth()"><a routerLink="/dashboard">Dashboard</a></li>
      <li *ngIf="isAuth()"><a routerLink="/transaction">Transaction</a></li>
      <li *ngIf="isAdmin()"><a routerLink="/category">Category</a></li>
      <li *ngIf="isAdmin()"><a routerLink="/product">Product</a></li>
      <li *ngIf="isAdmin()"><a routerLink="/supplier">Supplier</a></li>
      <li *ngIf="isAuth()"><a routerLink="/purchase">Purchase</a></li>
      <li *ngIf="isAuth()"><a routerLink="/sell">Sell</a></li>
      <li *ngIf="isAuth()"><a routerLink="/profile">Profile</a></li>
      <li *ngIf="!isAuth()"><a routerLink="/login">Login</a></li>
      <li *ngIf="!isAuth()"><a routerLink="/register">Register</a></li>
      <li *ngIf="isAuth()"><a (click)="logOut()">Logout</a></li>
      
    </ul>
  </div>
  
  <!-- MAIN CONTENT AREA-->
  <div class="main-content">
    <router-outlet />
  </div>
</div>
