<div class="pagination-container">
<!-- Previous Button -->
    <button
    class="pagination-button"
    [disabled]="currentPage == 1"
    (click)="onPageChange(currentPage - 1)"
  >
    &laquo; Pre
  </button>

  <!-- Page number Button -->
  <button
    *ngFor="let number of pageNumbers"
    class="pagination-button"
    [class.active]="currentPage == number"
    (click)="onPageChange(number)"
  >
    {{ number }}
  </button>

  <!-- Next Button -->
  <button
    class="pagination-button"
    [disabled]="currentPage == totalPage"
    (click)="onPageChange(currentPage + 1)"
  >
    Next &raquo;
  </button>
</div>
