<div class="supplier-form-page">
<p *ngIf="message" class="message">{{message}}
</p>
<h1>{{isEditing? 'Edit Supplier':'Add Supplier'}}</h1>

<form (ngSubmit)="handleSubmit()">
<div class="form-group">
<label for="name">Name</label>
<input type="text" name="name" [(ngModel)]="formData.name" placeholder="Enter Supplier Name"/>
</div>
<div class="form-group">
    <label for="address">Address</label>
    <input type="text" name="address" [(ngModel)]="formData.address" placeholder="Enter Supplier Address"/>
    </div>

   <button type="submit">{{isEditing?'Edit Supplier' : 'Add Supplier'}}</button> 
</form>
</div>